.container {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--color-text-secondary);
	font-size: var(--font-size-lg);
}

.list {
	flex: 1;
	overflow-y: auto;
}

.virtualContainer {
	position: relative;
}
